body {
    font-family: Arial, sans-serif;
    background-color: #ffd7be;
}

header {
    background-color: #ffd7be;
    color: #061817;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.task-section {
    background-color: #999999;
    padding: 2em;
    border: 1px solid #ff99cc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


#task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#task-list li {
    padding: 10px;
    border-bottom: 1px solid #96a009;
}

#task-list li:last-child {
    border-bottom: none;
}

.completed {
    text-decoration: line-through;
}

#task-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ffc107;
}

#due-date-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ffc107;
}

#add-task-btn {
    background-color: #f5f5dc;
    color: #333333;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: #cad80a;
}
.category-section {
    background-color: #f7f7f7;
    padding: 2em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.category-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.category-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.category-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.category-list li:last-child {
    border-bottom: none;
}

.category-list li:hover {
    background-color: #f0f0f0;
}

.category-name {
    font-size: 16px;
    color: #333333;
}

.category-count {
    font-size: 14px;
    color: #666666;
}
.insights-section {
    background-color: #fff;
    padding: 2em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#insights-container {
    padding: 20px;
}
#priority {
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
  }
  


